<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import style -->
    <link rel="stylesheet" href="./index.css" />
    <!-- Import Vue 3 -->
    <script src="./vue.global.js"></script>
    <!-- Import component library -->
    <script src="./index.full.js"></script>
    <script src="./axios.min.js"></script>
    <!-- <script src="./qs.min.js"></script> -->
    <title>ESP32</title>
</head>

<body>
    <div id="app">
        <div class="common-layout">
            <el-container>
                <el-header>
                    <el-row justify="space-between">
                        <el-text tag="b" size="large" :span="6">ESP32</el-text>
                        <el-row :span="6" justify="space-between">
                            <el-text type="primary" plain>电动车</el-text>

                            <el-button type="primary" @click="lockBike">开锁</el-button>
                            <el-button type="danger" @click="unlockBike">关锁</el-button>
                        </el-row>
                    </el-row>
                    <el-divider />

                </el-header>
                <el-main>
                    <el-scrollbar height="400px">
                        <el-form :model="wifiForm" label-width="120px">
                            <el-form-item label="WiFi SSID">
                                <el-input v-model="wifiForm.ssid" />
                            </el-form-item>
                            <el-form-item label="WiFi密码">
                                <el-input v-model="wifiForm.pwd" />
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit">提交</el-button>
                                <el-button type="danger" @click="onClear">清空</el-button>
                            </el-form-item>

                        </el-form>

                        <el-divider />
                    </el-scrollbar>

                </el-main>
            </el-container>
        </div>
    </div>
</body>
<script src="./main.js" setup></script>


</html>